<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.apfelq.node-tomedo-actionurl</string>

  <key>WorkingDirectory</key>
  <string>/Users/admin/Documents/node-tomedo-actionurl</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/node</string>
    <string>dist/index.js</string>
  </array>

  <key>UserName</key>
  <string>admin</string>

  <key>StandardOutPath</key>
  <string>/Users/admin/Documents/node-tomedo-actionurl/app.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/admin/Documents/node-tomedo-actionurl/app.log</string>

  <key>Nice</key>
  <integer>1</integer>

  <key>KeepAlive</key>
  <true/>

  <key>ThrottleInterval</key>
  <integer>60</integer>

</dict>
</plist>